{% load static %}


<html>
<head>
    <title>{{ item.name }}</title>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'items/css/new_style.css' %}">
</head>
<body>
    <div class="container">
        <div class="items-list">
            <div class="item-card">
                <h2 class="item-name">{{ item.name }}</h2>
                <p class="item-description">{{ item.description }}</p>
                <p class="item-price">${{ item.price }}</p>
                <button class="buy-button" id="checkout-button">Купить</button>
            </div>
        </div>
    </div>
    <script>
        var stripe = Stripe('{{ stripe_public_key }}');
        var checkoutButton = document.getElementById('checkout-button');
        checkoutButton.addEventListener('click', function() {
            fetch('/buy/{{ item.id }}/', {
                method: 'GET',
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(session) {
                return stripe.redirectToCheckout({ sessionId: session.session_id });
            })
            .then(function(result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function(error) {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>