{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders List</title>
    <link rel="stylesheet" href="{% static 'items/css/orders_style.css' %}">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <div class="container">
        <h1>Your Orders</h1>
        <div class="orders-list">
            {% for order in orders %}
            <div class="order-card">
                <h2>Order #{{ order.id }}</h2>
                <ul class="items-list">
                    {% for item in order.items.all %}
                    <li class="item">
                        <span class="item-name">{{ item.name }}</span>
                        <span class="item-price">${{ item.price }}</span>
                    </li>
                    {% endfor %}
                    {% if order.discount %}
                    <div class="discount">
                        <span>Discount:</span>
                        <span class="discount-amount">{{ order.discount.amount }}%</span>
                    </div>
                    {% endif %}
                    {% if order.tax %}
                    <div class="tax">
                        <span>Tax:</span>
                        <span class="tax-rate">{{ order.tax.rate }}%</span>
                    </div>
                    {% endif %}
                </ul>
                <div class="order-total">
                    <span>Total:</span>
                    <span class="total-price">${{ order.total_price }}</span>
                </div>
                <button class="pay-button" onclick="location.href='/items/{{item.id}}/'">Посмотреть детали</button>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>